<%- include('../partials/header.ejs') %> 
<h1>Welcome</h1>
<p>It Contains List Of Complaints</p>
<a href="/animals">List Of Complaints</a>
<a href="/animals/new">Lodge a Complaint</a>
<%- include('../partials/footer.ejs') %> 